<html >
  <head>
    <!--  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" /> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script> -->
	 <script src="C:/Users/HEMONTH/Desktop/desktop/java/angular js/code/public/javascripts/angular.js"></script>
      <script src="C:/Users/HEMONTH/Desktop/desktop/java/angular js/code/public/javascripts/applicaion1.js"></script>
	  <!--  <script src="javascripts/applicaion1directive.js"></script>  -->
  </head>
<!--   ------------------------------------- -->
  <body ng-app="myShoppingList" ng-controller="MyCtrl as myCtrl">
purchase History:
  <div class ="ph" ng-show ="myCtrl.click2" >
  <h1> Purchase  History </h1>
  <li ng-repeat = "x in myCtrl.purchased" >{{x}} <li>
 </div>

 <footer> {{myCtrl.display}}   </footer>
 </body>
