<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="Java">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="JavaCtrl as jc">
        <div>java app binding</div>
        <button type="button" ng-click="jc.clickMe()">Click Me</button>
        {{jc.name}}
        {{jc.rename}}
        {{jc.output}}
    </body>
</html>
