<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Java book</title>
  </head>
  <body>
    {{bc.name}}
    <form class="form-inline pull-right" action="http://www.google.com/cse" id="cse-search-box">
                 <fieldset>
                    <label class="control-label">
                    <input type="hidden" name="cx" value="partner-pub-1130008796007602:iri8be-v211">
                    <input type="hidden" name="ie" value="ISO-8859-1">
                    <input type="text" size="15" name="q" style="border: 1px solid rgb(126, 157, 185); padding: 2px; background: url(&quot;https://www.google.com/cse/static/en/google_custom_search_watermark.gif&quot;) left center no-repeat rgb(255, 255, 255);">
                    <input type="submit" name="sa" value="Search">
                 </label></fieldset>
    </form>
    <h1>Interview prep</h1>
    <ul>
	  <li>
        <a href="https://github.com/MaximAbramchuck/awesome-interview-questions"  target="_blank">Interview Questions On Any Technology</a>
      </li><br>
      <li>
        <a href="http://www.w3resource.com/"  target="_blank">Any Technology Basics</a>
      </li><br>
    </ul>
	<h1>Reports generation API(java)</h1>
    <ul>
      <li>
        <a href="http://stackoverflow.com/questions/4956841/dynamicreports-vs-dynamicjasper"  target="_blank">DynamicReports vs. DynamicJasper [closed]</a>
      </li><br>
	  <li>
        <a href="http://www.programcreek.com/java-api-examples/index.php?api=net.sf.jasperreports.engine.export.JExcelApiExporter"  target="_blank">Jasper reports examples</a>
      </li><br>
	  <li>
        <a href="http://community.jaspersoft.com/wiki/tips-exporting-excel"  target="_blank">Jasper wiki ref</a>
      </li><br>
    </ul>
    <h1>Spring</h1>
    <ul>
      <li>
        <a href="http://www.techferry.com/articles/spring-annotations.html"  target="_blank">Spring Annotations</a>
      </li><br>
	  <li>
        <a href="https://vimeo.com/214035674/e7b8b66805?mkt_tok=eyJpIjoiWXpZeU9EazVObUV6TlRreCIsInQiOiJZdzRBVStpNTdUWUdRVmN6TGtSRjJSeVU2RndLU0pKNkhuejhtb3p3bmNsQ2VBTEp5MGw5dVVaRlNab0M3ZGNcL0ZZak1SdnVSblpROWRKYVlSU0FmUU1sVkVGbVFmWXBVbG1WV2N0NVNKd0I3WldFVlhhOHh6RktaTGs2SHROcDQifQ%3D%3D"  target="_blank">Reactive Spring webinar spring 5</a>
      </li><br>
    </ul>
	<h1>Spring Questions</h1>
    <ul>
	<li>
        <a href="http://stackoverflow.com/questions/6827752/whats-the-difference-between-component-repository-service-annotations-in"  target="_blank">What's the difference between @Component, @Repository & @Service annotations in Spring?</a>
      </li><br>
      <li>
        <a href="http://stackoverflow.com/questions/21286675/scope-session-is-not-active-for-the-current-thread-illegalstateexception-no"  target="_blank">What is scope-session-is-not-active-for-the-current-thread ?</a>
      </li><br>
	  <li>
        <a href="http://stackoverflow.com/questions/1745790/spring-singleton-session-scopes-and-concurrency"  target="_blank">Understanding about singleton and prototype scopes for manitaining stateful and stateless sessions ?</a>
      </li><br>
	  <li>
        <a href="http://stackoverflow.com/questions/6480005/spring-request-and-prototype-scope"  target="_blank">What is spring request scope and prototype scope ?</a>
      </li><br>
    </ul>

    <h1>Hibernate</h1>
    <ul>
	<li>
        <a href="http://stackoverflow.com/questions/25996758/difference-between-lazycollectionlazycollectionoption-false-and-onetomanyfe"  target="_blank">Difference between @LazyCollection(LazyCollectionOption.FALSE) and @OneToMany(fetch = FetchType.EAGER)</a>
      </li><br>
	  <li>
        <a href="http://www.thoughts-on-java.org/5-ways-to-initialize-lazy-relations-and-when-to-use-them/"  target="_blank">5 ways to initialize lazy relations and when to use</a>
      </li><br>
	  <li>
        <a href="http://stackoverflow.com/questions/17318340/how-hibernate-initialize-works"  target="_blank">How hibernate.initialize() works(TO fix lazy init error)</a>
      </li><br>
      <li>
        <a href="https://vladmihalcea.com/presentations/"  target="_blank">Useful Videos</a>
      </li><br>
      <li>
        <a href="https://vladmihalcea.com/2016/06/28/14-high-performance-java-persistence-tips/"  target="_blank">High-Performance Java Persistence Tips</a>
      </li><br>
      <li>
        <a href="https://vladmihalcea.com/2014/04/17/the-anatomy-of-connection-pooling/"  target="_blank">The anatomy of Connection Pooling</a>
      </li><br>
      <li>
        <a href="http://www.techferry.com/articles/hibernate-jpa-annotations.html"  target="_blank">Hibernate jpa Annotations</a>
      </li><br>
      <li>
        <a href="http://stackoverflow.com/questions/4935095/jpa-hibernate-many-to-many-cascading"  target="_blank">JPA Hibernate many-to-many cascading Example</a>
      </li><br>
      <li>
        <a href="http://stackoverflow.com/questions/23445830/hibernate-sessionfactory-vs-entitymanagerfactory#answer-23446379"  target="_blank">Difference Between Hibernate SessionFactory vs EntityManagerFactory</a>
      </li><br>
      <li>
        <a href="https://vladmihalcea.com/2015/03/05/a-beginners-guide-to-jpa-and-hibernate-cascade-types/"  target="_blank">A beginner’s guide to JPA and Hibernate Cascade Types</a>
      </li><br>
      <li>
        <a href="http://stackoverflow.com/questions/5640778/hibernate-sessionfactory-vs-entitymanagerfactory"  target="_blank">JPA Hibernate many-to-many cascading Example</a>
      </li><br>
      <li>
        <a href="https://docs.jboss.org/hibernate/entitymanager/3.6/reference/en/html_single/"  target="_blank">Hibernate EntityManager Documentation</a>
      </li><br>
      <li>
        <a href="https://www.youtube.com/watch?v=nxUm6zn0MOk"  target="_blank">ACID Transactions quick review</a>
      </li><br>
      <li>
        <a href="http://blog.jhades.org/how-does-spring-transactional-really-work/"  target="_blank">How @Transactional really works</a>
      </li><br>
      <li>
        <a href="http://hibernate.org/validator/documentation/getting-started/"  target="_blank">Hibernate Validator Documentation</a>
      </li><br>
      <li>
        <a href="http://www.javatpoint.com/hibernate-interview-questions"  target="_blank">Hibernate Interview Questions</a>
      </li><br>
	  <li>
        <a href="http://www.objectdb.com/java/jpa/query/api"  target="_blank">Good reference Different ways of Querying database</a>
      </li><br>
	  <li>
        <a href="http://www.baeldung.com/hibernate-pagination"  target="_blank">Different ways of doing Pagination</a>
      </li><br>
    </ul>

    <h1>Java 8</h1>
    <ul>
      <li>
        <a href="http://howtodoinjava.com/java-8/how-to-use-predicate-in-java-8/"  target="_blank">Predicate functional interface ex</a>
      </li><br>
      <li>
        <a href="http://www.javabrahman.com/java-8/java-8-java-util-function-consumer-tutorial-with-examples/"  target="_blank">Consumer functional interface ex</a>
      </li><br>
      <li>
        <a href="http://www.java2s.com/Tutorials/Java/java.util.function/Supplier/index.htm"  target="_blank">Supplier functional interface ex</a>
      </li><br>
      <li>
        <a href="http://winterbe.com/posts/2014/07/31/java8-stream-tutorial-examples/"  target="_blank">Stream tutorial examples</a>
      </li><br>
	  <li>
        <a href="http://stackoverflow.com/questions/26684562/whats-the-difference-between-map-and-flatmap-methods-in-java-8"  target="_blank">Differences between map and flatmap methods</a>
      </li><br>
    </ul>
	<h1>EJB</h1>
    <ul>
	  <li>
        <a href="http://stackoverflow.com/questions/2351220/stateless-and-stateful-enterprise-java-beans"  target="_blank">Difference between stateful and stateless ejb</a>
      </li><br>
    </ul>

    <h1>JPA</h1>
    <ul>
      <li>
        <a href="http://www.javabrahman.com/eclipse-plugins/how-to-setup-a-jpa-project-with-a-data-connection-for-mysql-in-eclipse/"  target="_blank">How to setup a JPA Project with a Data Connection for MySQL in Eclipse.</a>
      </li><br>
    </ul>
	<h1>Microservices</h1>
    <ul>
      <li>
        <a href="https://dzone.com/refcardz/getting-started-with-microservices"  target="_blank">Getting started with microservices.</a>
      </li><br>
    </ul>
	<h1>Scrum training</h1>
    <ul>
      <li>
        <a href="http://scrumtrainingseries.com/"  target="_blank">scrumtrainingseries.com videos</a>
      </li><br>
    </ul>
	<h1>Docker</h1>
    <ul>
      <li>
        <a href="https://github.com/docker/labs/tree/master/developer-tools/java/chapters"  target="_blank">Docker Java Textbook</a>
      </li><br>
    </ul>
	<h1>Mongodb</h1>
    <ul>
      <li>
        <a href="http://farenda.com/mongodb/mongodb-filtering-sorting-and-projections/"  target="_blank">java example filtering, sorting and projections on collection of data </a>
      </li><br>
	  <li>
        <a href="http://stackoverflow.com/questions/31643109/mongodb-aggregation-with-java-driver"  target="_blank">MongoDB java driver aggregation example </a>
      </li><br>
    </ul>
  <h1>Others</h1>
    <ul class = "angularjsbook">
      <li>
        <a href="https://lostechies.com/gabrielschenker/2013/12/17/angularjspart-5-pushing-data-to-the-server/"  target="_blank">Pushing data to server</a>
      </li><br>
      <li>
        <a href="http://techfunda.com/howto/565/http-post-server-request"  target="_blank">Post server request</a>
      </li><br>
      <li>
        <a href="https://docs.angularjs.org/guide/directive"  target="_blank">Angularjs developer guide</a>
      </li><br>

    </ul>
  </body>
</html>
